html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-align: center;
    color: black;
    line-height: 2;
    background-image: url(../images/background2.png);
    background-size: cover;
    background-position: center;
    margin: 115px;
}