html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-align: center;
    color: black;
    line-height: 2;
}